* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1a1a1af6;
    background-size: 500%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 200px;
    animation: animated 10s linear infinite;
}

.main-text {
    color: #ffffff;
    font-size: 20px;
    margin-top: -164px;
}
.main-text > h1 {
    padding: 20px;
}
.main-text .sub-text {
    opacity: 0.7;
    padding: 10px;
}

.main-text .sub-text > a {
    text-decoration: dotted;
    color: rgb(57, 57, 255);
}

.main-text .sub-text > i {
    color: rgb(57, 57, 255);
}

.main-text .sub-text > a:hover {
    text-decoration: underline;
}
#key-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#activation-key {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 2px solid #bf8ce9;
    border-radius: 5px;
}

.action-button {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    background-color: #bf8ce9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #bf8ce9;
}

.notification {
    margin-top: 20px;
    color: red;
}

#window-controls {
    position: absolute;
    top: 30px; 
    right: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: -22px;
}

#window-controls button {
    background: none;
    border: none;
    color: #a35edb;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}

#window-controls button:hover {
    color: #ffcccc;
    transform: scale(1.1);
}

#window-controls button:focus {
    outline: none;
}

#close-button:hover {
    color: #ff4444;
}





























@keyframes animated {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50 0%;
    }
}

.punto {
    border-radius: 50%;
    background: #ffffff;
    opacity: .8;

    position: absolute;
    bottom: 0;

    animation: stars 3s linear infinite;
}

.punto :nth-child(1) {
    width: 5pxpx;
    height: 10px;
    left: 100px;
    animation-duration: 10s;
}

.punto :nth-child(2) {
    width: 5px;
    height: 5px;
    left: 130;
    animation-duration: 5s;
}

.punto :nth-child(3) {
    width: 5px;
    height: 5px;
    left: 150px;
    animation-duration: 8s;
}

.punto :nth-child(4) {
    width: 5px;
    height: 5px;
    left: 170px;
    animation-duration: 15s;
}

.punto :nth-child(5) {
    width: 5px;
    height: 5px;
    left: 190px;
    animation-duration: 9s;
}

.punto :nth-child(6) {
    width: 5px;
    height: 5px;
    left: 210px;
    animation-duration: 4s;
}

.punto :nth-child(7) {
    width: 5px;
    height: 5px;
    left: 230px;
    animation-duration: 18s;
}

.punto :nth-child(8) {
    width: 5px;
    height: 5px;
    left: 250px;
    animation-duration: 3s;
}

.punto :nth-child(9) {
    width: 5px;
    height: 5px;
    left: 270px;
    animation-duration: 20s;
}

.punto :nth-child(10) {
    width: 5px;
    height: 5px;
    left: 290px;
    animation-duration: 30s;
}

.punto :nth-child(11) {
    width: 5px;
    height: 5px;
    left: 310px;
    animation-duration: 15s;
}

.punto :nth-child(12) {
    width: 5px;
    height: 5px;
    left: 330px;
    animation-duration: 11s;
}

.punto :nth-child(13) {
    width: 4px;
    height: 4px;
    left: 350px;
    animation-duration: 40s;
}

.punto :nth-child(13) {
    width: 6px;
    height: 6px;
    left: 370px;
    animation-duration: 44s;
}

.punto :nth-child(14) {
    width: 3px;
    height: 3px;
    left: 385px;
    animation-duration: 15s;
}

.punto :nth-child(15) {
    width: 8px;
    height: 8px;
    left: 405px;
    animation-duration: 3s;
}

.punto :nth-child(16) {
    width: 5px;
    height: 5px;
    left: 425px;
    animation-duration: 30s;
}

.punto :nth-child(17) {
    width: 2px;
    height: 2px;
    left: 435px;
    animation-duration: 12s;
}

.punto :nth-child(18) {
    width: 3px;
    height: 3px;
    left: 445px;
    animation-duration: 40s;
}

.punto :nth-child(19) {
    width: 4px;
    height: 4px;
    left: 460px;
    animation-duration: 10s;
}

.punto :nth-child(20) {
    width: 5px;
    height: 5px;
    left: 470px;
    animation-duration: 20s;
}

.punto :nth-child(21) {
    width: 2px;
    height: 2px;
    left: 480px;
    animation-duration: 40s;
}

.punto :nth-child(22) {
    width: 4px;
    height: 4px;
    left: 500px;
    animation-duration: 30s;
}

.punto :nth-child(23) {
    width: 5px;
    height: 5px;
    left: 515px;
    animation-duration: 15s;
}

.punto :nth-child(24) {
    width: 2px;
    height: 2px;
    left: 535px;
    animation-duration: 11s;
}

.punto :nth-child(25) {
    width: 5px;
    height: 5px;
    left: 546px;
    animation-duration: 10s;
}

.punto :nth-child(26) {
    width: 2px;
    height: 2px;
    left: 560px;
    animation-duration: 5s;
}

.punto :nth-child(27) {
    width: 5px;
    height: 5px;
    left: 574px;
    animation-duration: 8s;
}

.punto :nth-child(28) {
    width: 3px;
    height: 3px;
    left: 591px;
    animation-duration: 15s;
}

.punto :nth-child(29) {
    width: 2px;
    height: 2px;
    left: 600px;
    animation-duration: 9s;
}


@keyframes stars {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        bottom: 100vh;
        opacity: 0;
        animation: initial;
    }
}

